@import url('https://fonts.googleapis.com/css2?family=Lato&family=Orbitron:wght@400;500;600&display=swap');

*, *::before, *::after {
          box-sizing: border-box;
          padding: 0;
          margin: 0;
          font-family: 'Lato', sans-serif;
}

body {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #242424;
          
}

.calc-container {
          background-color: forestgreen;
          width: 20rem;
          /* height: 25rem; */
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 2;
}

.calc-wrapper {
          /* border: 1px solid red; */
          /* height: 90%; */
          width: 90%;
          margin: 1rem 0rem;
}

.display-wrapper {
          max-width: 100%;
          margin: .5rem;
          /* border: 1px solid blue; */
          padding: 1rem .5rem;
          text-align: end;
          border-radius: 6px;
          background-color: #fff;
}

.display {
          font-size: 2rem;
          font-family: 'Orbitron', sans-serif;
          width: 100%;
          padding: 1rem 0;
}

.btn-wrapper {
          width: 100%;
          /* border: 1px solid blue; */
          padding: 4px;
          display: grid;
          grid-template-rows: repeat(5, 1fr);
          grid-template-columns: repeat(4, 1fr);
}

.btn-wrapper > button {
          /* height: 4rem; */
          /* width: 4rem; */
          margin: 1px;
          border-radius: 8px;
          font-size: 2rem;
}

.btn-wrapper > button:first-child {
          grid-column-start: 1;
          grid-column-end: 3;
}

.btn-wrapper > button:nth-child(2) {
          grid-column-start: 3;
          grid-column-end: 5;
}

.circle {
          width: 500px;
          height: 500px;
          background-color: rgb(217, 229, 104);
          z-index: -1;
          position: absolute;
          border-radius: 50%;
          animation: morph 3s ease-in;
}

@keyframes morph {
          0%{
                    border-radius: 3%;
          }
          100%{
                    border-radius: 50%;
          }
}
